<form asp-action="Upload" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Chọn file đề thi TOEIC (.docx):</label>
        <input type="file" name="file" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Bắt đầu Tải lên & Xử lý</button>
</form>